/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {

div.mainmenu ul#nav li {
  margin: 5px 10px;
}

div.mainmenu ul#nav li a {
  margin: 5px 10px;
}

section.slider_area div.carousel-inner div.carousel-caption {
  top: 0;
}

section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt h2 {
  font-size: 20px;
}

section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt h4 {
  font-size: 15px;
}

div.sng_qual h3 {
  text-align: center;
}

div.sng_qual h3 i {
  display: block;
  margin: 15px auto;
}

}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.slicknav_menu{
	display: block;
}
div.mainmenu {
  display: none;
}
section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt {
  padding: 12px 10px;
}

section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt br{
	display: none;
}


section.slider_area div.carousel-inner div.carousel-caption {
  top: 0;
}

section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt {
  background: none;
}

section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt h2 {
  font-size: 20px;
}

section.slider_area div.carousel-inner div.carousel-caption div.trnsprnt h4 {
  font-size: 15px;
}

div.sng_qual h3, div.sng_qual p {
  text-align: center;
}

div.sng_qual h3 i {
  display: block;
  margin: 15px auto;
}

div.footer_txt p {
  float: none !important;
  text-align: center;
}

.carousel-inner {
background: none repeat scroll 0 0 rgb(64, 70, 80);
min-height: 215px;
}

div.contact_info {
  margin: 0 50px;
}

.carousel-indicators {
  display: none;
}

div.sng_price {
  margin-bottom: 15px;
}

div.sng_cont {
  margin-bottom: 50px;
}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {



}


@media only screen and (max-width: 479px) {

div.logo{
	width: 100%;
}

div.logo a {
  display: block;
  text-align: center;
}


.socials {
    width: 100%;
}
div.socials ul {
    text-align: center;
}

div.sng_price {
  width: 100%;
  margin-bottom: 15px;
}

span.phn_lg {
  text-align: center;
}

}


