
img {

}

body {
	font-family: verdana;
}

a{
	transition: all .4s ease-in-out 0s;
}

.theme_color{
	color: rgb(85, 0, 0);
}

.theme_color_hover{
	color: rgb(217, 183, 114);
}


.slicknav_menu{
	display: none;
}

header.header_area {
background: none repeat scroll 0 0 rgb(255, 255, 255);
border-bottom: 2px solid rgb(217, 183, 114);
padding: 20px 0;
}

div.logo a {
  color: rgb(85, 0, 0);
  font-size: 20px;
}
div.logo a:hover {
  text-decoration: none;
}
div.mainmenu {
    padding: 0;
}
span.phn_lg {
  color: rgb(217, 183, 114);
  font-size: 12px;
  padding-left: 25px;
}
div.mainmenu ul#nav {
margin: 0;
padding: 0;
text-align: right;
}
div.mainmenu ul#nav li {
display: inline-block;
list-style: outside none none;
margin: 5px 15px;
}
div.mainmenu ul#nav li a {
    color: rgb(85, 0, 0);
}
div.mainmenu ul#nav li a:hover, div.mainmenu ul#nav li a.active {
    color: rgb(217, 183, 114);
	text-decoration: none;
}

div.socials ul {
    margin: 0;
    padding: 0;
    text-align: right;
}
div.socials ul li {
    display: inline-block;
    list-style: outside none none;
    margin: 5px;
}
div.socials ul li a {
    color: rgb(85, 0, 0);
}

div.socials ul li a i {
    transition: all .5s ease-in-out;
}
div.socials ul li a i:hover {
    color: rgb(217, 183, 114);
	-moz-transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	transform: rotate(-360deg);
}

.slider_area{

}

.slider_area img{
display: block;
margin: 0 auto;
}

/* menus */

div.menus_acc {
  margin: 30px auto;
}

/* special offer */

div.sp_offer {

}

div.sp_offer div.row p.sp_hed {
border: 1px solid rgb(217, 183, 114);
color: rgb(85, 0, 0);
display: block;
font-size: 18px;
font-weight: bold;
margin: 0 auto;
padding: 22px 10px;
position: relative;
text-align: center;
width: 280px;
}

div.sp_offer div.row p.sp_hed span {
  color: rgb(217, 183, 114);
  display: block;
  font-size: 13px;
  font-weight: normal;
}

div.sp_offer div.row p.sp_hed i.fa {
  background: none repeat scroll 0 0 rgb(255, 255, 255);
  border: 1px solid rgb(217, 183, 114);
  border-radius: 100%;
  color: rgb(217, 183, 114);
  font-size: 18px;
  height: 40px;
  left: 45%;
  padding: 10px;
  position: absolute;
  top: -22px;
  width: 40px;
}

div.sp_offer div.sng_off_out {
padding: 0 10px;
}

div.sng_off_out p.ttl {
  margin-bottom: 20px;
}

div.sng_off_out p.pull-right {
  color: rgb(85, 0, 0);
}

div.sng_off_out img {
  border: 1px solid rgb(217, 183, 114);
  margin: 20px auto;
  height: 130px;
  width: 100%;
}

div.sng_off_out p.small {
  line-height: 20px;
  text-align: justify;
}





.sng_off {
border: 1px solid rgb(221, 221, 221);
border-radius: 5px;
padding: 15px;
transition: all 0.4s ease-in-out 0s;
}
div.sng_off:hover {
border-color: rgb(102, 175, 233);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
outline: 0 none;
}
section.good_area {
    padding: 50px 0;
}
div.good h1 {
font-family: Lucida Console;
margin: 40px auto;
}
div.good h1 i {
    color: #bbb;
    font-size: 30px;
    margin: 0 15px;
    vertical-align: top;
}
div.good p {
    color: #555;
    line-height: 25px;
    margin-bottom: 25px;
}
a.more {
    border: 1px solid #888;
    color: #555;
    display: inline-block;
    padding: 8px 20px;
}
a.more:hover {
    background: none repeat scroll 0 0 #ffd34e;
    border: 1px solid #dfd;
    color: #333;
    text-decoration: none;
}

section.health_area {
  padding: 50px 0;
}

div.health h1 {
    color: #555;
    font-family: Lucida Console;
}
div.health p {
    color: #555;
    line-height: 25px;
    margin-bottom: 25px;
}

section.contact_area {
background: url("img/maps.png") repeat scroll center center rgba(0, 0, 0, 0);
border-top: 4px solid #ffd34e;
padding: 140px 0 80px;
}
div.contact_info {
  background: none repeat scroll 0 0 #111;
  color: #fff;
  padding: 45px;
}
a.map_lnk {
  background: none repeat scroll 0 0 #ffd34e;
  color: #000;
  display: block;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  width: 195px;
}
div.contact_info h2 {
    border-bottom: 1px dashed #fff;
    color: #ffd34e;
    margin: 10px auto 30px;
    padding-bottom: 25px;
}
div.contact_info p {
    font-size: 18px;
}

/* review */

div.review {
  margin: 80px auto;
}
.widget{
	padding-bottom: 20px;
}
.widget h4{
border-bottom: 1px solid rgb(217, 183, 114);
color: rgb(85, 0, 0);
padding-bottom: 5px;
}
.rvw_name {
  font-weight: bold;
}
.stars {
  color: #ffd34e;
}

.reviews {
  margin: 40px auto 20px;
}
div.sing_rev h4, div.sing_rev p {
    margin: 5px auto;
}
div.sing_rev {
    border-bottom: 1px solid #eee;
    padding: 20px 0 10px;
}


/* videos */

div.all_videos {
    margin: 60px auto;
}
div.videos {
    margin: 80px auto 20px;
}
div.sing_vid {
    margin-bottom: 70px;
}


/* photos */

div.sng_photo {
  margin: 0 auto 30px;
  position: relative;
}
div.sng_photo a {
  color: rgb(51, 51, 51);
  font-weight: bold;
}
div.sng_photo a:hover {
  opacity: 0.9;
}
div.sng_photo a img {
  height: 140px;
  margin: 0px auto 10px;
}

.sng_photo:hover p.photo_hvr{
	display:block;
	opacity:1;
}

p.photo_hvr{
background: none repeat scroll 0 0 rgb(153, 153, 153);
display: none;
height: 100%;
opacity: 0;
position: absolute;
top: 0;
transition: all 0.5s ease-in-out 0s;
width: 100%;
}

/* Generic styles */

.card-flip {
  position: relative;
}

.card-flip-front,
.card-flip-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-flip-front {
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);
  
  z-index: 1; /* for IE 9 */
}
:hover > .card-flip-front {
  -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
}

.card-flip-back {
  -webkit-transform: perspective(600px) rotateY(-179deg);
  transform: perspective(600px) rotateY(-179deg);
}
:hover > .card-flip-back {
  -webkit-transform: perspective(600px) rotateY(0deg);
  transform: perspective(600px) rotateY(0deg);

  z-index: 2; /* for IE 9 */
}


/* Instance-specific example styles */

.card-flip {
  height: 300px;
  width: 200px;
}

.card-flip-front {
  background: teal;
}

.card-flip-back {
  background: gray;
}


/* menus */

div.menus_acc div.panel {
display: inline-block;
margin: 0 1% 45px;
width: 47%;
}

div.post_cont {
    margin: 15px auto 90px;
}
div.post_cont p {
    color: #444;
    line-height: 25px;
    margin-bottom: 35px;
    text-align: justify;
}

.fb_sec {
    width: 100%;
}
.fb_sec iframe {
    border: medium none;
	width: 100%;
}

.footer_area_top {
background: none repeat scroll 0 0 rgb(85, 0, 0);
overflow: hidden;
padding: 45px 0 20px;
border-top: 5px solid rgb(217, 183, 114);
}

.footer_area_bottom {
background: none repeat scroll 0 0 rgb(85, 0, 0);
overflow: hidden;
padding: 20px 0;
border-top: 1px solid rgb(217, 183, 114);
}

div.footer_top div.col-md-3 p.ttl {
  border-bottom: 1px solid rgb(217, 183, 114);
  color: rgb(217, 183, 114);
  margin-bottom: 15px;
  padding-bottom: 12px;
}

div.footer_top div.col-md-3 p.des {
  line-height: 19px;
  text-align: justify;
  margin-bottom: 25px;
  color: #fff;
}

div.footer_top div.col-md-3 p.open span {
  display: block;
}

div.footer_top div.col-md-3 p.open a.reservation {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid rgb(217, 183, 114);
  text-align: center;
  margin: 10px auto;
  padding: 5px 15px;
}

a.tels {
  color: rgb(217, 183, 114);
}

/* flickr feed styles */

div.all_flckr_img {

}

div.all_flckr_img a img {
height: 60px;
margin-bottom: 3px;
width: 60px;
}

/* cont us home */


div.cont_us_hm p.pull-left {
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding-right: 15px;
}
div.cont_us_hm p.rht {
    color: rgb(255, 255, 255);
}
div.cont_us_hm p.rht span {
    color: rgb(217, 183, 114);
}

div.footer_bottomo p {
color: #fff;
margin: 0px auto;
}
div.footer_bottomo p a {
	color: rgb(217, 183, 114);
}

/* socials */


ul.socials {
    margin: 0;
    padding: 0;
}
ul.socials li {
    display: inline-block;
    list-style: outside none none;
    margin-right: 10px;
}
ul.socials li a {
    border: 2px solid rgb(217, 183, 114);
    border-radius: 100%;
    color: rgb(255, 255, 255);
    padding: 5px 8px;
}