@font-face {
    font-family: 'SolaimanLipiNormal';
    src: url('fonts/solaimanlipi.eot');
    src: url('fonts/solaimanlipi.eot') format('embedded-opentype'),
         url('fonts/solaimanlipi.woff') format('woff'),
         url('fonts/solaimanlipi.ttf') format('truetype'),
         url('fonts/solaimanlipi.svg#SolaimanLipiNormal') format('svg');
}

img {

}

body {
	font-family: verdana;
}

h1,h2,h3,h4,h5,h6{

}

.nopadding{
	padding: 0;
}

tbody tr{

}

h2.htwo {
  font: 22px/30px 'SolaimanLipiNormal';
  margin: 5px auto;
}

a{
	transition: all .4s ease 0s;
}


div.slicknav_menu{
	display:none;
}

/* header styles */
header{
background: #B0001B;
}
div.header_right form {
float: left;
padding: 5px 0;
}
div.header_right form input[type="text"] {
    height: 30px;
    width: 140px;
}
div.header_right form input[type="password"] {
    height: 30px;
    width: 120px;
}
div.header_right form button {
  padding: 4px 15px;
}
div.header_right p.pull-right {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 11px 0 0;
}
div.header_right p.pull-right a {
  color: rgb(255, 255, 255);
}
div.logo p {
    margin: 10px auto;
	color: rgb(255, 255, 255);
}
div.logo p a {
    color: rgb(255, 255, 255);
}


div.find_donors {
    border: 1px solid rgb(238, 238, 238);
    border-radius: 5px;
    margin: 50px auto;
}
div.find_donors h3, div.active_donors h3, div.messages h3 {
    margin: 20px auto 50px;
	text-align: center;
	color: rgb(176, 0, 27);
}
div.find_donors div.sng {
    margin-bottom: 50px;
}
div.find_donors div.sng img:hover {
	opacity: .8;
}
div.find_donors div.sng a img {
    display: block;
    margin: 0 auto;
	transition: all .4s ease-in-out 0s;
}
div.find_donors div.sng p.text-center {
  color: rgb(176, 0, 27);
  font-size: 18px;
  margin: 5px auto;
}

div.messages div.sng_msg div.user_info p.usr a {
  background: none repeat scroll 0 0 rgb(245, 114, 134);
  border-radius: 100%;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 50px;
  padding: 15px;
  width: 50px;
}
div.messages div.evn div.user_info p.usr a {
  background: none repeat scroll 0 0 rgb(217, 62, 86);
}
div.messages div.odd div.msgs, div.messages div.evn div.msgs {
  background: none repeat scroll 0 0 rgb(245, 114, 134);
  border-radius: 5px;
  padding: 20px;
}
div.messages div.evn div.msgs {
  background: none repeat scroll 0 0 rgb(217, 62, 86);
}
div.messages div.odd div.msgs p, div.messages div.evn div.msgs p {
  color: rgb(255, 255, 255);
}
div.messages div.odd div.msgs:before {
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgb(245, 114, 134);
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 100%;
  top: 20px;
  width: 0;
}
div.messages div.evn div.msgs:before {
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(217, 62, 86);
  border-top: 10px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  left: 100%;
  top: 20px;
  width: 0;
}

/* blood seeker styles */
div.wanted {
  border-right: 3px solid rgb(176, 0, 27);
  margin: 50px auto 80px;
}

div.wanted form div.form-group label{
font-weight: normal;
margin: 7px auto;
padding-left: 0;
text-align: right;
}

div.wanted form div.form-group input {
  width: 50%;
}

div.wanted form div.form-group input[type="radio"] {
  margin: 15px auto;
  width: 30px;
}

div.wanted form div.form-group select {
  width: 50%
}

div.wanted form div.form-group select.dob {
  float: left;
  width: 16%;
}

div.wanted form div.form-group select.dob:last-child {
  margin-right: 0;
}

/* blood donor */

div.donor {
  border-right: medium none;
}


/* verify page styles */

div.donor img {
  height: auto;
  max-width: 100%;
  padding: 0 50px;
}


/* Users page styles */

div.users {
  margin: 50px auto;
}

div.user_info p.users_info {
  line-height: 28px;
}

div.user_photo img {
  border: 1px solid rgb(238, 238, 238);
  padding: 5px;
  transition: all .5s ease-in-out 0s;
}

div.user_photo img:hover {
  opacity: .9
}


div.upload_field {
    margin-bottom: 15px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

input#uploadFile {
  float: left;
  width: 80%;
}
div#pro_pic {
  padding: 15px;
}


/* footer styles */

section.footer_area {
background: none repeat scroll 0 0 rgb(255, 255, 255);
border-top: 2px solid rgb(176, 0, 27);
bottom: 0;
padding: 20px 0;
position: fixed;
width: 100%;
}
section.footer_area p {
  margin: 0 auto;
}
section.footer_area p a {
color: rgb(176, 0, 27);
}

ul.footer_menu {
    margin: 0;
    padding: 0;
}
ul.footer_menu li {
    border-right: 1px solid rgb(176, 0, 27);
    display: inline-block;
    padding-right: 10px;
}
ul.footer_menu li:last-child {
    border: medium none;
}
selectorSavingError {
}
ul.footer_menu li a {
    color: rgb(176, 0, 27);
}


/* admin page styles */

div.admin_sidebar_left {
  
}

div.admin_sidebar_left ul {
    margin: 0;
    padding: 0;
}
div.admin_sidebar_left ul li {
    list-style: outside none none;
}
div.admin_sidebar_left ul li a {
    color: rgb(85, 85, 85);
    font-size: 20px;
	color: rgb(176, 0, 27);
}
div.admin_sidebar_left ul li a:hover {
    color: #555;
}
div.admin_sidebar_left ul ul {
    padding-left: 20px;
}
div.admin_sidebar_left ul ul li {
    list-style-type: square;
	color: rgb(176, 0, 27);
}
div.admin_sidebar_left ul ul li a {
    font-size: 14px;
}
div.admin_sidebar_left ul ul li a:hover {
  padding-left: 5px;
  text-decoration: none;
}
div.admin_sidebar_left .well {
  background: none repeat scroll 0 0 rgb(176, 0, 27);
  border: medium none;
  color: rgb(255, 255, 255);
}
div.admin_sidebar_right {
  border-left: 3px solid rgb(176, 0, 27);
  margin: 50px auto 80px;
}